body {
    background: linear-gradient(to bottom right, #87f1f1, #c2894c);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    position: fixed;
    top: 60px; /* Accounts for fixed header */
    left: -250px;
    height: calc(100% - 60px);
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar.show-sidebar {
    left: 0;
}

.sidebar a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.sidebar a:hover {
    background-color: #575757;
}

.main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.main-content.collapsed-main-content {
    margin-left: 250px;
}

/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 0;
    }
}

  /* ************************  User Create Form  ************** */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
.validate{
    color: red;
}
.success-message-box {
    position: fixed;
    bottom: 45px;
    right: 30px;
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border: 3px solid #c3e6cb;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .error-message-box {
        position: fixed;
        bottom: 45px;
        right: 30px;
        background-color: #f3edea;
        color: #f01b1b;
        padding: 15px;
        border: 3px solid #f82112;
        border-radius: 5px;
        font-size: 20px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }      
        
        
        